<h1>Search for Flights</h1>

<%= render 'form' %>

<br><br>

<%#= render 'test' %>

<% if @result_flights.any? %>
   <div>
       <%= render 'result' %>
   </div>
<% else %>
   <p>There are no suitable flights.</p>
<% end %>


