<h1>Your Booking Information</h1>

<p>(test)</p>
<p></p>
<table>
  <tr>
    <th>Flight</th>
    <th></th>
  </tr>
  <tr></tr>
  <% @airports%>
  <% @flights.each do |flight| %>
    <tr>
      <td><%= flight.dep_airport.code %></td>
      <td><%= flight.arr_airport.code %>&nbsp</td>
      <td>&nbsp&nbsp&nbsp<%= flight.dep_time.day %>&nbsp&nbsp</td>
      <td><%= flight.duration %> hours</td>
    </tr>

  <% end %>
</table>
