<h1>Your Booking Information</h1>

<table>
  <tr>
    <th>Name&nbsp&nbsp&nbsp</th>
    <th>Email&nbsp&nbsp&nbsp</th>
    <th>Number of Passengers&nbsp&nbsp&nbsp</th>
  </tr>
  <tr></tr>

  <% #@flights.each do |flight| %>
    <tr>
      <td>&nbsp&nbsp&nbsp<%#= flight.dep_airport.code %>--------</td>
      <td>&nbsp&nbsp&nbsp<%#= flight.arr_airport.code %>---------------------------&nbsp&nbsp&nbsp&nbsp</td>
      <td>&nbsp&nbsp&nbsp<%#= flight.dep_time.day %>---&nbsp&nbsp</td>
    </tr>

  <%# end %>
</table>

<br><br>

<div style="display: inline-block">
	<table>
  		<tr>
   	 <th>Flight<br><br></th>
   	 <th></th>
  		</tr>
  		<tr></tr>
  			<%# @result_flights.each do |flight| %>
    	<tr>     	
			<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%#= flight.dep_airport.code %>&nbsp----></td>
	      <td><%#= flight.arr_airport.code %>&nbsp</td>
	      <td>&nbsp&nbsp&nbsp<%#= flight.dep_time %>&nbsp&nbsp</td>
	      <td><%#= flight.duration %> hours</td>
	    </tr>

	  <%# end %>
	</table>
</div>
