<h1>Search for Flights</h1>

<select id="from-choice">
  <option selected value="from">(From)</option>
  <option value="sfo">SFO</option>
  <option value="nyc">NYC</option>
</select>

<select id="to-choice">
  <option selected value="to">(To)</option>
  <option value="sfo">SFO</option>
  <option value="nyc">NYC</option>
</select>

<select id="p-choice">
  <option selected value="passengers">(Pessengers)</option>
  <option value="1p">1</option>
  <option value="2p">2</option>
  <option value="3p">3</option>
  <option value="4p">4</option>
</select>


